In [2]:
import pandas as pd

In [3]:
file_path='DH8D_valid.csv.xz'
df=pd.read_csv(file_path,compression='xz')

In [4]:
df

,time,timestep,maxtimestep,icao24,outliers,callsign,heading,baroaltitude,lat,lon,...,distance_from_dep,trip_distance,massPast,mseEnergyRatePast,massFutur,mseEnergyRateFutur,u,v,temp,tas
0,1504225961,0,795,25,0.017673,252,168.457474,2957.280132,-28.409528,151.931314,...,NaN,NaN,NaN,NaN,24483.1,8.16719,8.701661,8.668068,271.959036,156.206716
1,1504225976,15,795,25,0.017673,252,166.097702,3157.156181,-28.429115,151.936355,...,NaN,NaN,NaN,NaN,24627.0,8.07707,8.978928,9.259357,270.896185,151.378287
2,1504225991,30,795,25,0.017673,252,168.793095,3285.117336,-28.448872,151.941434,...,NaN,NaN,NaN,NaN,24773.2,7.83423,9.170313,9.563644,270.156085,153.255013
3,1504226006,45,795,25,0.017673,252,169.748596,3475.208831,-28.467769,151.945414,...,NaN,NaN,NaN,NaN,24934.9,7.39747,9.466145,10.006246,269.084420,150.214659
4,1504226021,60,795,25,0.017673,252,169.562525,3659.155269,-28.485994,151.949232,...,NaN,NaN,NaN,NaN,25114.5,6.67660,9.787430,10.317931,268.025907,147.965747
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347695,1509493938,810,870,29,0.001157,0,62.347994,6758.963495,44.136065,-78.072737,...,NaN,NaN,26420.7,3.72166,NaN,NaN,44.531089,6.480986,244.434515,164.402831
347696,1509493953,825,870,29,0.001157,0,62.287912,6819.900000,44.148944,-78.038652,...,NaN,NaN,26652.9,4.48340,NaN,NaN,44.867667,6.273155,243.980264,164.944934
347697,1509493968,840,870,29,0.001157,0,62.480108,6888.480000,44.161686,-78.004829,...,NaN,NaN,26734.5,4.71504,NaN,NaN,45.235540,6.048127,243.474693,164.910331
347698,1509493983,855,870,29,0.001157,0,62.415819,6957.735013,44.174530,-77.970581,...,NaN,NaN,27057.3,4.87376,NaN,NaN,45.612021,5.817506,242.969026,164.299873
347699,1509493998,870,870,29,0.001157,0,62.631925,6992.421791,44.187765,-77.935271,...,NaN,NaN,27586.2,4.88916,NaN,NaN,45.850340,5.658007,242.710882,166.324108